@charset 'utf-8';

/*----------å…¨ä½“------------*/

html { font-size: calc(112.5% + 0.5vw) }

body{
	width: 100%;
	background-color:#FFF;
	font-family: 'Noto Sans JP', sans-serif;
	color:#68605f;

}

/*layout*/
#wrapper{
	display:flex;
	flex-direction:column;
	align-content:space-between;
	width:100%;
	margin:0px auto;
	height:auto;
	max-width:1200px;
    box-shadow: 0px 0px 2px 2px #eee;
}

.content_title{
	display:flex;
	flex-direction:row;
	justify-content:space-around;
	flex-wrap:wrap;
	height:auto;
}

.row_wrap{
	display:flex;
	flex-direction:row;
	justify-content:space-around;
	align-content:space-around;
	flex-wrap:wrap;
	height:auto;
}

.column{
	display:flex;
	flex:1 1 300px;
	flex-direction:column;
	justify-content:space-around;
	align-content:space-around;
	flex-wrap:wrap;
	margin:1vw;
	height:auto;
}

.list_column{
	display:flex;
	flex:1;
	flex-direction:column;
	justify-content:space-around;
	align-content:space-around;
	flex-wrap:wrap;
	margin:1vw;
	height:auto;
}

div .flex_item{
	display: flex;
	flex-direction: column;
	justify-content: center;
	font-size:2vw;
	flex:1;
	margin:1vw;
	padding:1vw;
	border:2px dotted crimson;
}

/*layout end*/


/*header*/
header{
width:100&;
}

/*footer*/
footer{
color:white;
text-align:center;
font-size:1vw;
padding:5vw;
margin:2vw 0;
background:crimson;
box-shadow: 0px 0px 2px 2px #ddd;
}
/*footer end*/

/*h1*/
h1 {
	width:100%;
	font-size:5vw;
	text-align:center;
	color:black;
	padding: 1.0em;
	margin: auto;
	border-top:1vw double crimson;
	border-bottom:1vw double crimson;

	background: linear-gradient(226deg, #dc143c, #ffffff, #dc143c);
	background-size: 600% 600%;

	-webkit-background-clip: text;
	-moz-background-clip: text;
	background-clip: text;

	-webkit-text-fill-color: transparent;

	-webkit-animation: gradient 4s ease infinite;
	-moz-animation: gradient 4s ease infinite;
	animation: gradient 4s ease infinite;
}

	@-webkit-keyframes gradient {
	    0%{background-position:0% 50%}
	    50%{background-position:100% 50%}
	    100%{background-position:0% 50%}
	}
	@-moz-keyframes gradient {
	    0%{background-position:0% 50%}
	    50%{background-position:100% 50%}
	    100%{background-position:0% 50%}
	}
	@keyframes gradient {
	    0%{background-position:0% 50%}
	    50%{background-position:100% 50%}
	    100%{background-position:0% 50%}
	}
/*h1 end*/

/*h2 start*/
h2{
	font-size: 3vw;
	color: gray;
	margin:1vw 0vw;
	padding:0 1vw;
	border-left: 3vw solid crimson;
}
/*h2 end*/

/*p start*/
p::first-letter{
	font-size: 3vw;
}

p {
    line-height: 3vw;
}

/*p end*/

/*box_list*/
	.box_list{
	display:block;
	text-decoration:none;
	background: #EEE;
	border: 1px solid #DDD;
	color: #111;
	padding: 2vw;
	font-size:2vw;
	box-shadow:rgb(179, 182, 186) 0px 7px 13px 0px;
	}

	a.box_list:hover{
	opacity:0.7;
	transform: translateX(8px);
	}

	.article_index{
	margin:10px 30px;
	font-size:1.5em;
	}
/*box_list end*/

/*side line*/
.sideline {
	display: flex;
	align-items: center;
	text-align: center; /* for no-flexbox browsers */
	font-size:3vw;
	letter-spacing:1vw;
	margin: 3vw 0;
	width:100%;
	color: crimson;
}

.sideline:before,
.sideline:after {
    border-bottom: 0.3vw dotted;
    border-top: 0.3vw double;
    border-color: #dc143c;
    content: "";
    display: inline; /* for IE */
    flex-grow: 1;
}

.sideline:before {
    margin-right: 0.5em;
}

.sideline:after {
    margin-left: 0.5em;
}
/*side line end*/

/*button1*/
.button1 {
	display: block;
	text-decoration: none;
	width: 80%;
	padding: 3vw 0;
	margin: 2vw auto;
	text-shadow: 0px 0px 1px rgb(0, 0, 0);
	text-align: center;
	font-size: 1.05rem;
	color:white;
	border-radius:5px;
	box-shadow: 0px 0 1px #555,inset 0 0 1px #3a7b3c;
	background: -moz-linear-gradient(top, #bfd255 0%, #8eb92a 50%, #72aa00 51%, #9ecb2d 100%);
	background: -webkit-linear-gradient(top, #bfd255 0%,#8eb92a 50%,#72aa00 51%,#9ecb2d 100%);
	background: linear-gradient(to bottom, #bfd255 0%,#8eb92a 50%,#72aa00 51%,#9ecb2d 100%);
}
/*button1 end*/
